In [ ]:
# Mlj1a9vL124TJyz5  
# mongodb+srv://sssuthar004:Mlj1a9vL124TJyz5@cluster0.vf9oi5d.mongodb.net/

In [11]:
import pandas as pd
from pymongo import MongoClient 
df = pd.read_csv("C:/Users/Sande/Desktop/project_2/notebook/heart.csv")
df.sample(3)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
263,59,M,ASY,130,126,0,Normal,125,N,0.0,Flat,1
828,58,M,ASY,128,216,0,LVH,131,Y,2.2,Flat,1
120,47,F,NAP,135,248,1,Normal,170,N,0.0,Flat,1

In [12]:
data = df.to_dict(orient = 'records')

In [ ]:
DB_NAME = 'heart'
COLLECTION_NAME = "heart-Data"
CONNECTION_URL = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"  # this string you provided is a MongoDB connection URI

In [14]:
from pymongo import MongoClient  
client = MongoClient(CONNECTION_URL) 
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [15]:
rec = collection.insert_many(data)

In [16]:
df = pd.DataFrame(list(collection.find()))
df.head()

,_id,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,6843e9548c5b0437e4a0a4e2,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,6843e9548c5b0437e4a0a4e3,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,6843e9548c5b0437e4a0a4e4,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,6843e9548c5b0437e4a0a4e5,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,6843e9548c5b0437e4a0a4e6,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0